body{
  background-color: #FAFBFC;
}
/*Кнопки навигации*/
.navigate {
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
}
.navigate:hover,
.navigate-active
{
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
  border-bottom: 2px solid white;
}
/*Тело страницы пользователи*/
.users_body{
  background-color: #FAFBFC;
  /*Использовался для правильного размещения контейнера
  background-color: chocolate;*/
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

/*Контйенер с поиском и списком пользователей*/
.users_con{
  width: 1572px;
  height:auto;
  /*background-color: cornflowerblue;*/
  background-color: #ffffff;
  border-radius: 10px;
}
/*Стили для поисковика*/
.search{
  background-color: #F6F6F7 !important;
  border: 2px solid #8f8e8e !important;
  border-radius: 4px;
  width: 242px;
  height: 32px;
  font-family: 'Noto Sans';
  font-size: 14px !important;
  font-weight: 400  ;
  line-height: 20px;
  letter-spacing: 0;
  margin-top: 26px;
  margin-left: 26px;
}

/*Контейнер для таблицы с пользователями*/
.table_con{
  width: 1540px;
  height: auto;
  /*background-color: rgb(75, 248, 127) !important;*/
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

/*Стили для таблицы с пользователями */
.users_table {
  width: 100%;
   border-collapse: collapse; 
  font-family: 'Noto Sans';
  text-align: left;
  margin-top: 36px;
  table-layout: fixed;
  padding: 16px;
  margin-left: 27px;
}
  
/*Шапка таблицы*/ 
/*стили для названий столбцов*/
.table_head{
  font-size: 14px;
  font-family: 'Noto Sans';
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  color: #101018;
}

/*Стили для 5 столбца действия*/
.actions{
  text-align: right;
  padding-right: 40px;
}

/*Контейнер для имени, аватара и должности пользователя*/
.user_text{
    display: flex;
    align-items: center;
    gap:12px;
    /*background-color: darkgray;*/
    padding: 10px;
    
}

/*Стили для аватара*/
.img{
  width: 36px;
  height: 36px;
  border-radius: 100px;
  flex-shrink: 0;
   object-fit: cover;
}

/*Контейнер для имени и должности*/
.text_info{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}

/*Стили для имени*/
.name_text{
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #35353A;
  margin: 0px;
}

/*Стили для должности*/
.role_text{
  font-weight: 400;
  font-family: 'Noto Sans';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  color:#6E6E71;
  margin: 0px;
}

/*Стили для столбца город*/
.city_text{
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #35353A;
  /*background-color: darkgray;*/
 
}

/*Стили для столбца ссылок*/
.link_text{
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #175AE4;
  cursor: pointer;
  text-decoration: none !important;
  /*background-color: darkgray;*/
}

/*Ссылка обычное состояние, если по ней уже переходили,
при наведении и в момент клика на нее*/
.link_text a,
.link_text a:visited,
.link_text a:hover,
.link_text a:active {
  color: #175AE4 !important; /* Синий цвет */
  text-decoration: none !important;
  cursor: pointer;
}

/*Стили для 1 иконки*/
.icon_1{
  padding-left: 214px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

/*Стили для 2 иконки*/
.icon_2{
  margin-left: 0px;
   width: 28px;
  height: 28px;
  cursor: pointer;
}

/*горизонтальные полосы снизу*/
.users_table tr {
  border-bottom: 1px solid #E5E5E5; /* Цвет и толщина линии */
}

/*Убирает у последнего пользователя линию*/
.users_table tr:last-child {
  border-bottom: none;
}

/*Добавляет вертикальную линию слева у 3 и 4 столбца для столбцов в теле таблицы*/
.users_table td:nth-child(3),
.users_table td:nth-child(4) {
  position: relative;
  padding-left: 15px;
  border-left: 1px solid #f1f0f0;

}

/*Добавляет вертикальную линию слева у 3 и 4 столбца для столбцов в шапке*/
.users_table th:nth-child(3),
.users_table th:nth-child(4) {
  position: relative;
  padding-left: 15px;
  border-left: 1px  #ebebeb;

}



