body{
  background-color: #FAFBFC;
}
.navigate {
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
}

.navigate:hover,
.navigate-active
{
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
  border-bottom: 2px solid white;
}
.users_body{
  background-color: chocolate;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
 
}
.users_con{
  width: 1572px;
  height: auto;
  background-color: cornflowerblue;
  border-radius: 10px;
}
.search{
  background-color: #F6F6F7 !important;
  border: 2px solid #8f8e8e !important;
  border-radius: 4px;
  width: 242px;
  height: 32px;
  font-family: 'Noto Sans';
  font-size: 14px !important;
  font-weight: 400  ;
  line-height: 20px;
  letter-spacing: 0;
  margin-top: 26px;
  margin-left: 26px;
}
.users_table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Noto Sans';
  text-align: left;
  margin-top: 36px;
}

.table_head{
  font-size: 12px;
  font-family: 'Noto Sans';
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  color: #101018;
}
.user_text{
    display: flex;
    align-items: center;
    gap:12px;
    background-color: darkgray;
    padding: 10px;
}
.img{
  width: 36px;
  height: 36px;
  border-radius: 100px;
  flex-shrink: 0;
   object-fit: cover;
}

.text_info{
  display: flex;
  flex-direction: column;
}
.name_text{
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #35353A;
   margin: 0px;
}
.role_text{
  font-weight: 400;
  font-family: 'Noto Sans';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  color:#6E6E71;
  margin: 0px;
}
.city_text{
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #35353A;
}
.link_text{
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #175AE4;
  cursor: pointer;
  text-decoration: none !important;
}
.link_text:hover{
  color: #175AE4;
}
